<%= javascript_include_tag "login" %>
<div class="splash_screen active" id="splash">
  <h1 class="logo">budge <br />it!</h1>
   <div id="button-container">
    <button id="login-button">Log in</button>
   <%= link_to "Sign up",new_registration_path(resource), id: "signup-button" %><br />
  </div>
</div>

<div>
<div class="login-form" id="login-form">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%=render partial: "shared/signup_navbar", locals: {pagename: "LOGIN", link: 'back', f: f}%>
  <div class="form-field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
<hr>
    <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password"  %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
