<%=render partial: "shared/sub_navbar", locals: {pagename: @pagename}%>
<div class="entity-show d-flex flex-column">
<div class="entity-show-top d-flex">
<div class="img-container d-flex">
<%= image_tag url_for(@group.icon.variant(resize_to_limit: [100, 100])), class: "logo_photo"%>
</div>
<p><%=@group.name%></p>
</div>
<p>Commodi minima excepturi repudiandae velit hic maxime
doloremque. Quaerat provident commodi consectetur veniam similique ad 
earum omnis ipsum saepe, voluptas, hic voluptates pariatur est explicabo 
fugiat, dolorum eligendi quam cupiditate excepturi mollitia maiores labore 
suscipit quas? Nulla, placeat.</p>
<hr>
<%@entities.each do |e|%>
<h1>Transaction <%=e.entity.id%></h1>
<p><%=e.entity.created_at.strftime("%d %b %Y")%></p>
<hr>
<div class="d-flex justify-content-between">
<p class="total-heading">TOTAL PAYMENT</p>
<p><%=e.entity.amount%></p>
</div>
<hr>
<%end%>
<%=link_to "Add new transaction", new_entity_path, class:"btn btn-success"%>
</div>