<%= stylesheet_link_tag 'style' %>
<div class="categorylist  d-flex flex-column">
<% @entities.each do |entity| %>
<%value = @icons.filter { |value| value.entity == entity }%>
<div class="entity d-flex">
<div class="img-container d-flex">
<%value.each do |image|%>
<%= image_tag url_for(image.group.icon.variant(resize_to_limit: [100/value.length, 100/value.length])), class: "logo_photo" unless value.empty?%>
<%end%>
</div>
  <div class="entity_box d-flex flex-column">
  <div>
   <%= link_to "#{entity.name}",entity_path(entity.id)%>
      <p>$<%=entity.amount%></p>
      </div>
      <p><%=entity.created_at.strftime("%d %b %Y")%></p>
  </div>
</div>
<%end %>
<div class= "scan-btn" >
<%=link_to "Add new category", new_group_path %>
<div>
</div>